<!--<div class="profile-header content-box">
  <div class="user-info">
    <img src="" class="avatar" />
    <h1 class="full-name">Derrick Reimer</h2>
    <h2 class="screen-name">@derrickreimer</h3>
  </div>

  <ul class="stats">
    <li>
      <a href="#">
        <strong>100</strong> Statuses
      </a>
    </li>

    <li>
      <a href="#">
        <strong>50</strong> Following
      </a>
    </li>

    <li>
      <a href="#">
        <strong>300</strong> Followers
      </a>
    </li>
  </ul>

  <a href="#" class="follow-button button">Follow</a>
</div>-->

<div class="content-box">
  <h2>Statuses</h2>
  <ol class="statuses">
    <% @statuses.each do |status| %>
      <li>
        <img src="" class="avatar" />
        <div class="status">
          <a href="#" class="user">
            <span class="full-name">Full Name</span>
            <span class="screen-name">@screen_name</span>
          </a>
          <time><%= time_ago_in_words(status.created_at) %> ago</time>
          <p class="status-text"><%= status.text %></p>
        </div>
      </li>
    <% end %>
  </ol>
</div>